<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <!-- <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script> -->
   <script src="./js/jquery.nav.js"></script>
   <script src="./js/jquery.scrollTo.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="./css/main.css"></style>
</head>


<h1>You are registering</h1>
<form action="/register/create" method="post">

   <input type="text" name="name">
   <input type="text" name="bin_key">
   <input type="submit">
</form>
